<h2>
  <span *ngIf="this.id">Edit book</span>
  <span *ngIf="!this.id">Add a new book</span>
</h2>

<div class="form-group">
  <label for="firstname">First Name</label>
  <input [(ngModel)] = "book.authorFirst" type="text" class="form-control" id="firstname" placeholder="Enter first name">
</div>
<div class="form-group">
  <label for="lastname">Last Name</label>
  <input [(ngModel)] = "book.authorLast" type="text" class="form-control" id="lastname" placeholder="Enter last name">
</div>
<div class="form-group">
  <label for="title">Title</label>
  <input [(ngModel)] = "book.title" type="text" class="form-control" id="title" placeholder="Enter title">
</div>
<div class="form-group">
  <label for="year">Year</label>
  <input type="text" [(ngModel)] = "book.year" class="form-control" id="year" placeholder="Enter year">
</div>

<button class="btn btn-primary" (click)="addNewBook()">
  <span *ngIf="!this.id">Add new book</span>
  <span *ngIf="this.id">Edit book information</span>
</button>

<div *ngIf="statusMessage" class="alert mt-3" [ngClass]="{'alert-danger': state === 'error', 'alert-primary': state === 'updating'}">
  <p>{{statusMessage}}</p>
</div>
